# Prueba T√©cnica Desarrollador IA - Alianza Team

## **Introducci√≥n**
> üéØ **Objetivo**: Desarrollar un modelo predictivo utilizando t√©cnicas de machine learning (ML) para estimar la densidad de licencias comerciales por habitante en cada c√≥digo postal de la ciudad de Nueva York.

## **Insumos**
| Archivo | Descripci√≥n | Fuente |
| :--- | :--- | :--- |
| `demographic-statistics-by-zip-code-1.csv` | La tabla muestra **estad√≠sticas demogr√°ficas** de personas que participan en programas financiados por el Departamento de Desarrollo Comunitario y Juvenil de Nueva York (DYCD), organizadas por c√≥digo postal. | [Demographic Statistics By Zip Code \| data.world](https://data.world/city-of-ny/kku6-nxdu) |
| `DCA_Legally_Operating_Businesses_03062015.xlsx` | Este conjunto de datos incluye licencias emitidas por el Departamento de Protecci√≥n al Consumidor y al Trabajador (DCWP) a **empresas** (*Premises*) y **personas naturales** (*Individuals*) para que puedan operar legalmente en la ciudad de Nueva York. | [Legally operating businesses \| NYC Open Data](https://data.cityofnewyork.us/Business/Legally-Operating-Businesses/w7w3-xahh/about_data) |

## **Definiciones**
### **Densidad de Licencias Comerciales**
$$ \text{Densidad de Licencias Comerciales} = \frac{\text{N√∫mero de Licencias Comerciales}}{\text{Poblaci√≥n Total}} $$

**Nota**:
1. El n√∫mero de licencias comerciales se obtiene del archivo `DCA_Legally_Operating_Businesses_03062015.xlsx`.
2. La poblaci√≥n total se obtiene del archivo `demographic-statistics-by-zip-code-1.csv`.

## **1. Preparaci√≥n de los datos**

In [372]:
# Importar librer√≠as (pandas, numpy, matplotlib)
import pandas as pd

In [373]:
# Importar tabla de datos demogr√°ficos de la ciudad de Nueva York por c√≥digo postal
demographics = pd.read_csv('Sources/demographic-statistics-by-zip-code-1.csv', sep=';')

In [374]:
demographics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 46 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   JURISDICTION NAME                    236 non-null    int64
 1   COUNT PARTICIPANTS                   236 non-null    int64
 2   COUNT FEMALE                         236 non-null    int64
 3   PERCENT FEMALE                       236 non-null    float64
 4   COUNT MALE                           236 non-null    int64
 5   PERCENT MALE                         236 non-null    float64
 6   COUNT GENDER UNKNOWN                 236 non-null    int64
 7   PERCENT GENDER UNKNOWN               236 non-null    int64
 8   COUNT GENDER TOTAL                   236 non-null    int64
 9   PERCENT GENDER TOTAL                 236 non-null    int64
 10  COUNT PACIFIC ISLANDER               236 non-null    int64
 11  PERCENT PACIFIC ISLANDER             236 non-null    float64
 12  COUNT HISPANIC LATINO                236 non-null    int64
 13  PERCENT HISPANIC LATINO              236 non-null    float64
 14  COUNT AMERICAN INDIAN                236 non-null    int64
 15  PERCENT AMERICAN INDIAN              236 non-null    float64
 16  COUNT ASIAN NON HISPANIC             236 non-null    int64
 17  PERCENT ASIAN NON HISPANIC           236 non-null    float64
 18  COUNT WHITE NON HISPANIC             236 non-null    int64
 19  PERCENT WHITE NON HISPANIC           236 non-null    float64
 20  COUNT BLACK NON HISPANIC             236 non-null    int64
 21  PERCENT BLACK NON HISPANIC           236 non-null    float64
 22  COUNT OTHER ETHNICITY                236 non-null    int64
 23  PERCENT OTHER ETHNICITY              236 non-null    float64
 24  COUNT ETHNICITY UNKNOWN              236 non-null    int64
 25  PERCENT ETHNICITY UNKNOWN            236 non-null    float64
 26  COUNT ETHNICITY TOTAL                236 non-null    int64
 27  PERCENT ETHNICITY TOTAL              236 non-null    int64
 28  COUNT PERMANENT RESIDENT ALIEN       236 non-null    int64
 29  PERCENT PERMANENT RESIDENT ALIEN     236 non-null    float64
 30  COUNT US CITIZEN                     236 non-null    int64
 31  PERCENT US CITIZEN                   236 non-null    float64
 32  COUNT OTHER CITIZEN STATUS           236 non-null    int64
 33  PERCENT OTHER CITIZEN STATUS         236 non-null    float64
 34  COUNT CITIZEN STATUS UNKNOWN         236 non-null    int64
 35  PERCENT CITIZEN STATUS UNKNOWN       236 non-null    int64
 36  COUNT CITIZEN STATUS TOTAL           236 non-null    int64
 37  PERCENT CITIZEN STATUS TOTAL         236 non-null    int64
 38  COUNT RECEIVES PUBLIC ASSISTANCE     236 non-null    int64
 39  PERCENT RECEIVES PUBLIC ASSISTANCE   236 non-null    float64
 40  COUNT NRECEIVES PUBLIC ASSISTANCE    236 non-null    int64
 41  PERCENT NRECEIVES PUBLIC ASSISTANCE  236 non-null    float64
 42  COUNT PUBLIC ASSISTANCE UNKNOWN      236 non-null    int64
 43  PERCENT PUBLIC ASSISTANCE UNKNOWN    236 non-null    int64
 44  COUNT PUBLIC ASSISTANCE TOTAL        236 non-null    int64
 45  PERCENT PUBLIC ASSISTANCE TOTAL      236 non-null    int64
dtypes: float64(15), int64(31)
memory usage: 84.9 KB

In [375]:
# Importar tabla de datos de licencias de negocios en la ciudad de Nueva York
licenses = pd.read_excel('Sources/DCA_Legally_Operating_Businesses_03062015.xlsx')

In [376]:
# Dimensiones de los datos
print('Shape de los datos de Demograf√≠a: ', demographics.shape)
print('Shape de los datos de Licencias: ', licenses.shape)

Shape de los datos de Demograf√≠a:  (236, 46)
Shape de los datos de Licencias:  (65798, 14)

### **Tabla 1. Demograf√≠a**
#### Eliminaci√≥n de registros innecesarios

In [377]:
demographics.head()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100

Considerando el objetivo de este estudio, las **columnas m√°s relevantes** para esta primera fase de preparaci√≥n de los datos son:
- `JURISDICTION NAME`: C√≥digo postal. ‚Üí Nos permitir√° unir esta tabla con la tabla de licencias comerciales.
- `COUNT PARTICIPANTS`: N√∫mero de participantes. ‚Üí Nos permitir√° calcular la densidad de licencias comerciales.
    - Como se puede observar, en la _fila 4_ hay c√≥digos postales con un recuento de participantes igual a cero.
    - Dada la definici√≥n de la densidad de licencias comerciales, estos c√≥digos postales **no** aportar√°n informaci√≥n relevante al modelo predictivo. Por lo tanto, se proceder√° a **eliminar** estos registros.

In [378]:
print("Registros eliminados: ", demographics[demographics['COUNT PARTICIPANTS'] == 0].shape[0])
print("Registros √∫tiles restantes: ", demographics[demographics['COUNT PARTICIPANTS'] != 0].shape[0])

Registros eliminados:  131
Registros √∫tiles restantes:  105

In [379]:
# Eliminar registros con 0 participantes
demographics = demographics[demographics['COUNT PARTICIPANTS'] != 0]

#### Eliminaci√≥n de columnas innecesarias
Una vez eliminados los registros innecesarios, se proceder√° a **eliminar** las columnas que no aportan informaci√≥n relevante al modelo predictivo. Para empezar, se evaluar√°n las columnas que se encuentran en la tabla de demograf√≠a.

In [380]:
demographics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 233
Data columns (total 46 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   JURISDICTION NAME                    105 non-null    int64
 1   COUNT PARTICIPANTS                   105 non-null    int64
 2   COUNT FEMALE                         105 non-null    int64
 3   PERCENT FEMALE                       105 non-null    float64
 4   COUNT MALE                           105 non-null    int64
 5   PERCENT MALE                         105 non-null    float64
 6   COUNT GENDER UNKNOWN                 105 non-null    int64
 7   PERCENT GENDER UNKNOWN               105 non-null    int64
 8   COUNT GENDER TOTAL                   105 non-null    int64
 9   PERCENT GENDER TOTAL                 105 non-null    int64
 10  COUNT PACIFIC ISLANDER               105 non-null    int64
 11  PERCENT PACIFIC ISLANDER             105 non-null    float64
 12  COUNT HISPANIC LATINO                105 non-null    int64
 13  PERCENT HISPANIC LATINO              105 non-null    float64
 14  COUNT AMERICAN INDIAN                105 non-null    int64
 15  PERCENT AMERICAN INDIAN              105 non-null    float64
 16  COUNT ASIAN NON HISPANIC             105 non-null    int64
 17  PERCENT ASIAN NON HISPANIC           105 non-null    float64
 18  COUNT WHITE NON HISPANIC             105 non-null    int64
 19  PERCENT WHITE NON HISPANIC           105 non-null    float64
 20  COUNT BLACK NON HISPANIC             105 non-null    int64
 21  PERCENT BLACK NON HISPANIC           105 non-null    float64
 22  COUNT OTHER ETHNICITY                105 non-null    int64
 23  PERCENT OTHER ETHNICITY              105 non-null    float64
 24  COUNT ETHNICITY UNKNOWN              105 non-null    int64
 25  PERCENT ETHNICITY UNKNOWN            105 non-null    float64
 26  COUNT ETHNICITY TOTAL                105 non-null    int64
 27  PERCENT ETHNICITY TOTAL              105 non-null    int64
 28  COUNT PERMANENT RESIDENT ALIEN       105 non-null    int64
 29  PERCENT PERMANENT RESIDENT ALIEN     105 non-null    float64
 30  COUNT US CITIZEN                     105 non-null    int64
 31  PERCENT US CITIZEN                   105 non-null    float64
 32  COUNT OTHER CITIZEN STATUS           105 non-null    int64
 33  PERCENT OTHER CITIZEN STATUS         105 non-null    float64
 34  COUNT CITIZEN STATUS UNKNOWN         105 non-null    int64
 35  PERCENT CITIZEN STATUS UNKNOWN       105 non-null    int64
 36  COUNT CITIZEN STATUS TOTAL           105 non-null    int64
 37  PERCENT CITIZEN STATUS TOTAL         105 non-null    int64
 38  COUNT RECEIVES PUBLIC ASSISTANCE     105 non-null    int64
 39  PERCENT RECEIVES PUBLIC ASSISTANCE   105 non-null    float64
 40  COUNT NRECEIVES PUBLIC ASSISTANCE    105 non-null    int64
 41  PERCENT NRECEIVES PUBLIC ASSISTANCE  105 non-null    float64
 42  COUNT PUBLIC ASSISTANCE UNKNOWN      105 non-null    int64
 43  PERCENT PUBLIC ASSISTANCE UNKNOWN    105 non-null    int64
 44  COUNT PUBLIC ASSISTANCE TOTAL        105 non-null    int64
 45  PERCENT PUBLIC ASSISTANCE TOTAL      105 non-null    int64
dtypes: float64(15), int64(31)
memory usage: 38.6 KB

A partir de esta evaluaci√≥n podemos intuir que:
- Podemos presindir de las columnas de recuento (`COUNT`) y de las columnas de totales (`TOTAL`) ya que no aportan informaci√≥n relevante al modelo predictivo.
- Si hay columnas de ceros, se pueden eliminar ya que no aportan informaci√≥n relevante al modelo predictivo.

In [381]:
# Eliminar columnas con 0, COUNT (Excepto 'COUNT PARTICIPANTS' que se usar√° para calcular la densidad) y TOTAL
demographics = demographics.drop(columns=[col for col in demographics.columns if 'COUNT' in col and col != 'COUNT PARTICIPANTS'])
demographics = demographics[demographics.columns.drop(list(demographics.filter(regex='TOTAL')))]
demographics = demographics.loc[:, (demographics != 0).any(axis=0)]

Como resultado, se eliminaron 29 columnas de la tabla de demograf√≠a.

In [382]:
demographics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   JURISDICTION NAME                    105 non-null    int64
 1   COUNT PARTICIPANTS                   105 non-null    int64
 2   PERCENT FEMALE                       105 non-null    float64
 3   PERCENT MALE                         105 non-null    float64
 4   PERCENT PACIFIC ISLANDER             105 non-null    float64
 5   PERCENT HISPANIC LATINO              105 non-null    float64
 6   PERCENT AMERICAN INDIAN              105 non-null    float64
 7   PERCENT ASIAN NON HISPANIC           105 non-null    float64
 8   PERCENT WHITE NON HISPANIC           105 non-null    float64
 9   PERCENT BLACK NON HISPANIC           105 non-null    float64
 10  PERCENT OTHER ETHNICITY              105 non-null    float64
 11  PERCENT ETHNICITY UNKNOWN            105 non-null    float64
 12  PERCENT PERMANENT RESIDENT ALIEN     105 non-null    float64
 13  PERCENT US CITIZEN                   105 non-null    float64
 14  PERCENT OTHER CITIZEN STATUS         105 non-null    float64
 15  PERCENT RECEIVES PUBLIC ASSISTANCE   105 non-null    float64
 16  PERCENT NRECEIVES PUBLIC ASSISTANCE  105 non-null    float64
dtypes: float64(15), int64(2)
memory usage: 14.8 KB

> üîç **Observaciones**
> - En l√≠neas generales puede verse que las 17 columnas, aquellas de `PERCENT`, son las que pueden ser usadas como predictores para el modelo.
> - Las columnas `PERCENT` contienen informaci√≥n de las siguientes 4 variables:
>    - **Gender**: {`FEMALE`, `MALE`}
>    - **Ethnicity**: {`PACIFIC ISLANDER`, `HISPANIC LATINO`, `AMERICAN INDIAN`, `ASIAN NON HISPANIC`, `WHITE NON HISPANIC`, `BLACK NON HISPANIC`, `OTHER`, `UNKNOWN`}
>    - **Citizenship Status**: {`PERMANENT RESIDENT ALIEN`, `US CITIZEN`, `OTHER`}
>    - **Public Assistance**: {`RECEIVES PUBLIC ASSISTANCE`, `DOES NOT RECEIVE PUBLIC ASSISTANCE`}

üëÅÔ∏è <span style="background-color: #FFA500; color: black;">**Nota:**</span>
- En consecuencia, para evitar la multicolinealidad, deber√≠amos eliminar una columna de cada grupo de variables categ√≥ricas.
- Adem√°s, por claridad, se renombrar√°n las columnas de la tabla de demograf√≠a.

In [383]:
# Renombrar columnas de g√©nero, etnicidad, estatus de ciudadan√≠a y asistencia p√∫blica
demographics = demographics.rename(columns=lambda x: x.replace('PERCENT ', ''))
demographics.rename(columns={'FEMALE': 'GENDER_FEMALE', 'MALE': 'GENDER_MALE'}, inplace=True)
demographics.rename(
    columns={
        'PACIFIC ISLANDER': 'ETHNICITY_PACIFIC_ISLANDER',
        'HISPANIC LATINO': 'ETHNICITY_HISPANIC_LATINO',
        'AMERICAN INDIAN': 'ETHNICITY_AMERICAN_INDIAN',
        'ASIAN NON HISPANIC': 'ETHNICITY_ASIAN_NON_HISPANIC',
        'WHITE NON HISPANIC': 'ETHNICITY_WHITE_NON_HISPANIC',
        'BLACK NON HISPANIC': 'ETHNICITY_BLACK_NON_HISPANIC',
        'OTHER ETHNICITY': 'ETHNICITY_OTHER',
        'ETHNICITY UNKNOWN': 'ETHNICITY_UNKNOWN'
    },
    inplace=True
)
demographics.rename(
    columns={
        'PERMANENT RESIDENT ALIEN': 'CITIZENSHIP_PERMANENT_RESIDENT_ALIEN',
        'US CITIZEN': 'CITIZENSHIP_US_CITIZEN',
        'OTHER CITIZEN STATUS': 'CITIZENSHIP_OTHER'
    },
    inplace=True
)
demographics.rename(
    columns={
        'RECEIVES PUBLIC ASSISTANCE': 'PUBLIC_ASSISTANCE_YES',
        'NRECEIVES PUBLIC ASSISTANCE': 'PUBLIC_ASSISTANCE_NO'
    },
    inplace=True
)

In [384]:
# Data type de tabla demo
demographics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   JURISDICTION NAME                     105 non-null    int64
 1   COUNT PARTICIPANTS                    105 non-null    int64
 2   GENDER_FEMALE                         105 non-null    float64
 3   GENDER_MALE                           105 non-null    float64
 4   ETHNICITY_PACIFIC_ISLANDER            105 non-null    float64
 5   ETHNICITY_HISPANIC_LATINO             105 non-null    float64
 6   ETHNICITY_AMERICAN_INDIAN             105 non-null    float64
 7   ETHNICITY_ASIAN_NON_HISPANIC          105 non-null    float64
 8   ETHNICITY_WHITE_NON_HISPANIC          105 non-null    float64
 9   ETHNICITY_BLACK_NON_HISPANIC          105 non-null    float64
 10  ETHNICITY_OTHER                       105 non-null    float64
 11  ETHNICITY_UNKNOWN                     105 non-null    float64
 12  CITIZENSHIP_PERMANENT_RESIDENT_ALIEN  105 non-null    float64
 13  CITIZENSHIP_US_CITIZEN                105 non-null    float64
 14  CITIZENSHIP_OTHER                     105 non-null    float64
 15  PUBLIC_ASSISTANCE_YES                 105 non-null    float64
 16  PUBLIC_ASSISTANCE_NO                  105 non-null    float64
dtypes: float64(15), int64(2)
memory usage: 14.8 KB

In [385]:
# Eliminar las columnas GENDER_MALE, ETHNICITY_UNKNOWN, CITIZENSHIP_OTHER y PUBLIC_ASSISTANCE_NO
demographics = demographics.drop(columns=['GENDER_MALE', 'ETHNICITY_UNKNOWN', 'CITIZENSHIP_OTHER', 'PUBLIC_ASSISTANCE_NO'])

In [386]:
demographics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 233
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   JURISDICTION NAME                     105 non-null    int64
 1   COUNT PARTICIPANTS                    105 non-null    int64
 2   GENDER_FEMALE                         105 non-null    float64
 3   ETHNICITY_PACIFIC_ISLANDER            105 non-null    float64
 4   ETHNICITY_HISPANIC_LATINO             105 non-null    float64
 5   ETHNICITY_AMERICAN_INDIAN             105 non-null    float64
 6   ETHNICITY_ASIAN_NON_HISPANIC          105 non-null    float64
 7   ETHNICITY_WHITE_NON_HISPANIC          105 non-null    float64
 8   ETHNICITY_BLACK_NON_HISPANIC          105 non-null    float64
 9   ETHNICITY_OTHER                       105 non-null    float64
 10  CITIZENSHIP_PERMANENT_RESIDENT_ALIEN  105 non-null    float64
 11  CITIZENSHIP_US_CITIZEN                105 non-null    float64
 12  PUBLIC_ASSISTANCE_YES                 105 non-null    float64
dtypes: float64(11), int64(2)
memory usage: 11.5 KB

In [387]:
demographics.head(20)

,JURISDICTION NAME,COUNT PARTICIPANTS,GENDER_FEMALE,ETHNICITY_PACIFIC_ISLANDER,ETHNICITY_HISPANIC_LATINO,ETHNICITY_AMERICAN_INDIAN,ETHNICITY_ASIAN_NON_HISPANIC,ETHNICITY_WHITE_NON_HISPANIC,ETHNICITY_BLACK_NON_HISPANIC,ETHNICITY_OTHER,CITIZENSHIP_PERMANENT_RESIDENT_ALIEN,CITIZENSHIP_US_CITIZEN,PUBLIC_ASSISTANCE_YES
0,10001,44,0.50,0.0,0.36,0.0,0.07,0.02,0.48,0.07,0.05,0.95,0.45
1,10002,35,0.54,0.0,0.03,0.0,0.80,0.17,0.00,0.00,0.06,0.94,0.06
2,10003,1,1.00,0.0,0.00,0.0,1.00,0.00,0.00,0.00,0.00,1.00,0.00
4,10005,2,1.00,0.0,0.00,0.0,0.50,0.00,0.50,0.00,0.50,0.50,0.00
5,10006,6,0.33,0.0,0.33,0.0,0.00,0.17,0.50,0.00,0.00,1.00,0.00
6,10007,1,0.00,0.0,0.00,0.0,1.00,0.00,0.00,0.00,0.00,1.00,1.00
7,10009,2,0.00,0.0,0.00,0.0,1.00,0.00,0.00,0.00,0.00,1.00,0.00
9,10011,3,0.67,0.0,0.33,0.0,0.00,0.00,0.33,0.33,0.00,1.00,0.00
11,10013,8,0.13,0.0,0.00,0.0,1.00,0.00,0.00,0.00,0.00,1.00,0.13
13,10016,17,0.71,0.0,0.53,0.0,0.00,0.00,0.47,0.00,0.00,1.00,0.53
15,10018,3,0.67,0.0,0.00,0.0,1.00,0.00,0.00,0.00,0.33,0.67,0.00
19,10022,1,1.00,0.0,0.00,0.0,1.00,0.00,0.00,0.00,0.00,1.00,0.00
20,10023,7,0.71,0.0,0.43,0.0,0.14,0.00,0.43,0.00,0.00,1.00,0.71
21,10024,4,1.00,0.0,0.00,0.0,0.00,0.75,0.00,0.00,0.00,1.00,0.25
22,10025,27,0.63,0.0,0.56,0.0,0.00,0.00,0.41,0.04,0.11,0.89,0.30
24,10027,7,0.57,0.0,0.14,0.0,0.14,0.00,0.57,0.14,0.14,0.86,0.14
26,10029,20,0.65,0.0,0.20,0.0,0.00,0.00,0.75,0.05,0.00,1.00,0.40
29,10032,13,0.31,0.0,0.69,0.0,0.08,0.00,0.15,0.08,0.08,0.92,0.38
33,10036,2,1.00,0.0,0.00,0.0,0.50,0.00,0.50,0.00,0.00,1.00,1.00
35,10038,16,0.69,0.0,0.13,0.0,0.56,0.00,0.31,0.00,0.06,0.94,0.19

### **Tabla 2. Licencias Comerciales**
#### Eliminaci√≥n de registros innecesarios

Considerando el objetivo de este estudio, las **columnas m√°s relevantes** para la preparaci√≥n de los datos son:
- `LICENSE_TYPE`: Tipo de licencia.
- `ZIP`: C√≥digo postal. ‚Üí Nos permitir√° unir esta tabla con la tabla de demograf√≠a.

In [388]:
licenses.sample(8, random_state=9).sort_values(by='LICENSE_TYPE')

,LICENSE_NBR,LICENSE_TYPE,LIC_EXPIR_DD,INDUSTRY,BUSINESS_NAME,BUSINESS_NAME2,BUILDING,STREET,STREET_2,CITY,STATE,ZIP,PHONE,BOROUGH
32723,1120701-DCA,Individual,2017-02-28 00:00:00.000,Home Improvement Salesperson,"CHUN, MIN G",NaN,NaN,NaN,NaN,FLUSHING,NY,NaN,NaN,NaN
37102,0976248-DCA,Individual,2017-02-28 00:00:00.000,Home Improvement Salesperson,"MIELESZKO, JAROSLAW",NaN,NaN,NaN,NaN,MANHASSET,NY,NaN,NaN,NaN
46769,0794375-DCA,Individual,2015-05-31 00:00:00.000,Locksmith,"GONZALEZ, ANTHONY",NaN,NaN,NaN,NaN,PEARL RIVER,NY,NaN,NaN,NaN
51906,1350201-DCA,Individual,2016-02-28 00:00:00.000,Process Server Individual,"PRINGLE, FREDERICK JOSEPH",NaN,NaN,NaN,NaN,BRONX,NY,NaN,NaN,NaN
3397,1462240-DCA,Premise,2016-12-31 00:00:00.000,Cigarette Retail Dealer,BMI DELI & GROCERY CORP,NaN,665,ONDERDONK AVE,NaN,RIDGEWOOD,NY,11385,3477983613,Queens
59368,1307588-DCA,Premise,2015-12-15 00:00:00.000,Sidewalk Cafe,480 REST AMSTERDAM INC.,NaN,480,AMSTERDAM AVE,NaN,NEW YORK,NY,10024,2125794299,Manhattan
61117,1339002-DCA,Premise,2016-03-31 00:00:00.000,Stoop Line Stand,"DOLORES CONVENIENCE & GROCERY, INC.",NaN,3967,61ST ST,NaN,WOODSIDE,NY,11377,718-457-3182,Queens
62567,1376598-DCA,Premise,2016-03-31 00:00:00.000,Stoop Line Stand,"WHOLE FOODS MARKET GROUP, INC.",NaN,270,GREENWICH ST,NaN,NEW YORK,NY,10007,2123496555,Manhattan

Aparentemente, las licencias comerciales emitidas a individuos no tienen un c√≥digo postal asignado. Vamos a validar esa hip√≥tesis:

In [389]:
nulos_no_nulos = licenses.groupby('LICENSE_TYPE')['ZIP'].apply(lambda x: pd.Series({
    'No Nulos': x.notnull().sum(),
    'Nulos': x.isnull().sum()
})).unstack().fillna(0)

# Mostrar el resultado
print(nulos_no_nulos)

              No Nulos  Nulos
LICENSE_TYPE
Individual           0  20359
Premise          45409     30

- Como se puede observar, solo las licencias comerciales emitidas a empresas tienen un c√≥digo postal asignado.
- Por simplicidad, se eliminar√°n los registros que no tengan un c√≥digo postal asignado, ya que la idea es poder conectar las tablas `demographics` y `licenses` a trav√©s de este campo.

In [390]:
# Eliminamos registros con valores nulos en la columna 'ZIP' ‚Üí 45409
licenses = licenses.dropna(subset=['ZIP'])
licenses.shape

(45409, 14)

Adem√°s, considerando que los c√≥digos postales de la tabla `demographics` son valores enteros, se eliminar√°n los registros con c√≥digos postales no enteros.

In [391]:
# Eliminar registros con c√≥digos postales no enteros y convertir la columna 'ZIP' a tipo de dato entero
licenses = licenses[licenses['ZIP'].str.isnumeric()].astype({'ZIP': 'int64'})
licenses.shape

(45401, 14)

#### Eliminaci√≥n de columnas innecesarias
M√°s que eliminar columnas innecesarias, necesitamos hacer un res√∫men para hallar el n√∫mero de licencias comerciales por c√≥digo postal que nos permitir√° calcular la densidad de licencias comerciales.

In [392]:
# Recuento de licencias por c√≥digo postal convertir en df con columnas 'ZIP' y 'COUNT LICENSES'
licenseStats = licenses.groupby('ZIP').size().reset_index(name='COUNT_OF_LICENSES')
licenseStats.sample(5, random_state=9)

        ZIP  COUNT_OF_LICENSES
628   11575                  7
1092  50266                  1
1062  44444                  2
1395  95762                  1
993   33870                  1

### **Tabla 3. Uni√≥n de Tablas**

In [393]:
# Unir tablas de datos de demograf√≠a y licencias
data = pd.merge(demographics, licenseStats, left_on='JURISDICTION NAME', right_on='ZIP', how='inner')
data = data.drop(columns=['ZIP'])

In [394]:
# Reordenar columnas
new_order = ['JURISDICTION NAME', 'COUNT_OF_LICENSES', 'COUNT PARTICIPANTS', 'GENDER_FEMALE',
       'ETHNICITY_PACIFIC_ISLANDER', 'ETHNICITY_HISPANIC_LATINO',
       'ETHNICITY_AMERICAN_INDIAN', 'ETHNICITY_ASIAN_NON_HISPANIC',
       'ETHNICITY_WHITE_NON_HISPANIC', 'ETHNICITY_BLACK_NON_HISPANIC',
       'ETHNICITY_OTHER', 'CITIZENSHIP_PERMANENT_RESIDENT_ALIEN',
       'CITIZENSHIP_US_CITIZEN', 'PUBLIC_ASSISTANCE_YES']
data = data[new_order]

In [395]:
data.head()

,JURISDICTION NAME,COUNT_OF_LICENSES,COUNT PARTICIPANTS,GENDER_FEMALE,ETHNICITY_PACIFIC_ISLANDER,ETHNICITY_HISPANIC_LATINO,ETHNICITY_AMERICAN_INDIAN,ETHNICITY_ASIAN_NON_HISPANIC,ETHNICITY_WHITE_NON_HISPANIC,ETHNICITY_BLACK_NON_HISPANIC,ETHNICITY_OTHER,CITIZENSHIP_PERMANENT_RESIDENT_ALIEN,CITIZENSHIP_US_CITIZEN,PUBLIC_ASSISTANCE_YES
0,10001,515,44,0.50,0.0,0.36,0.0,0.07,0.02,0.48,0.07,0.05,0.95,0.45
1,10002,441,35,0.54,0.0,0.03,0.0,0.80,0.17,0.00,0.00,0.06,0.94,0.06
2,10003,483,1,1.00,0.0,0.00,0.0,1.00,0.00,0.00,0.00,0.00,1.00,0.00
3,10005,63,2,1.00,0.0,0.00,0.0,0.50,0.00,0.50,0.00,0.50,0.50,0.00
4,10006,30,6,0.33,0.0,0.33,0.0,0.00,0.17,0.50,0.00,0.00,1.00,0.00

#### Creaci√≥n de la variable objetivo: Densidad de Licencias Comerciales

In [396]:
# Crear una nueva columna 'LICENSES_PER_CAPITA' que muestre la cantidad de licencias por participante
data['LICENSES_PER_CAPITA'] = data['COUNT_OF_LICENSES'] / data['COUNT PARTICIPANTS']

In [397]:
# Eliminar columnas 'COUNT_OF_LICENSES' y 'COUNT PARTICIPANTS' para evitar redundancia
data = data.drop(columns=['COUNT_OF_LICENSES', 'COUNT PARTICIPANTS'])

# Convertir 'JURISDICTION NAME' a 'ZIP CODE' y hacerlo el √≠ndice
data = data.rename(columns={'JURISDICTION NAME': 'ZIP CODE'}).set_index('ZIP CODE')

In [398]:
data.head()

,GENDER_FEMALE,ETHNICITY_PACIFIC_ISLANDER,ETHNICITY_HISPANIC_LATINO,ETHNICITY_AMERICAN_INDIAN,ETHNICITY_ASIAN_NON_HISPANIC,ETHNICITY_WHITE_NON_HISPANIC,ETHNICITY_BLACK_NON_HISPANIC,ETHNICITY_OTHER,CITIZENSHIP_PERMANENT_RESIDENT_ALIEN,CITIZENSHIP_US_CITIZEN,PUBLIC_ASSISTANCE_YES,LICENSES_PER_CAPITA
ZIP CODE,,,,,,,,,,,,
10001,0.50,0.0,0.36,0.0,0.07,0.02,0.48,0.07,0.05,0.95,0.45,11.704545
10002,0.54,0.0,0.03,0.0,0.80,0.17,0.00,0.00,0.06,0.94,0.06,12.600000
10003,1.00,0.0,0.00,0.0,1.00,0.00,0.00,0.00,0.00,1.00,0.00,483.000000
10005,1.00,0.0,0.00,0.0,0.50,0.00,0.50,0.00,0.50,0.50,0.00,31.500000
10006,0.33,0.0,0.33,0.0,0.00,0.17,0.50,0.00,0.00,1.00,0.00,5.000000

In [399]:
data.shape

(85, 12)